{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load  static %}
{% block content %}



{% if user.driver == True and user.licence != 1 and  user.licence %}
  <div class="content-section" style='background:#F1FF95;font-family: "Times New Roman", Times, serif; font-size:20px''>
    <form method="POST">
        {% csrf_token %}
<fieldset class="form-group">
  <script type="text/javascript">
  $(function() {
    $('#datetimepicker3').datetimepicker({
      pickDate: false,
      format: 'LT'
    });
  });
</script>
        {{ placeRide_form.journey_date|as_crispy_field}}

  {{ placeRide_form.journey_time|as_crispy_field }}

    {{ placeRide_form.seat_no|as_crispy_field }}
   {{ placeRide_form.car_model|as_crispy_field }}
    {{ placeRide_form.car_no|as_crispy_field}}
{{ placeRide_form.fare|as_crispy_field}}
    {{ placeRide_form.pay_mode|as_crispy_field}}


    <div id='printoutPanel'></div>
    <div id='searchBoxContainer'>
      {{ placeRide_form.source_location|as_crispy_field }}<hr/>
  </div>
    <div id='suggestionBoxId'></div>
  <div id='searchBoxContainer2'>
    {{ placeRide_form.destination_location|as_crispy_field }}
  </div>
</fieldset>

  <div class="form-group"><button class="btn btn-outline-info" type = "submit">Place Ride </button>


  </div>

  </form>

  </div>
    <div id='myMap'></div>
            <script type='text/javascript'>
            function bingMapsReady() {
                Microsoft.Maps.loadModule("Microsoft.Maps.AutoSuggest", {
                callback: onLoad,
                errorCallback: logError,
                credentials: 'Apx6ZniwUTYykWFCN6hlqGh8jzep1v5FJoW6jkuY2keuNmx30oKkIfnibTvv0DnK'
                });

                function onLoad() {
                var options = { maxResults: 8 };
                initAutosuggestControl(options, "searchmapBox", "searchBoxContainer");
                initAutosuggestControl(options, "searchmapBox2", "searchBoxContainer2");
                }
                }

                function initAutosuggestControl(
                options,
                suggestionBoxId,
                suggestionContainerId
                ) {
                var manager = new Microsoft.Maps.AutosuggestManager(options);
                manager.attachAutosuggest(
                "#" + suggestionBoxId,
                "#" + suggestionContainerId,
                selectedSuggestion
                );

                function selectedSuggestion(suggestionResult) {
                document.getElementById(suggestionBoxId).innerHTML =
                  suggestionResult.formattedSuggestion;
                }
                }

                function logError(message) {
                  console.log(message);
                }

            </script>
     {% else %}
     <h2>You are not registered as a driver</h2>
     <p>To place ride you must be a driver and have a licence</p>

     <div class="border-top pt-3">
       <small class="text-muted"><a href="{% url 'profile' %}" >Add a licence now</a></small></div>
      {% endif %}


{% endblock content %}
