{% extends "home/home.html" %}
{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-3" style="background-color:blue;">
    <div class="" style="height=500">
    </div>
  </div>
  <!-- <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <!-- FORM HERE -->



{% endblock content %}
